<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>工作通知</title>
    <include file="Public/head"/>
    <link rel="stylesheet" href="__CSS__/synthesisTable.css">
    <script type="text/javascript" src="__JS__/gztz/gztz.js"></script>
</head>
<body class="padding">
<div id="inform"></div>
<div class="center paddingButton">
    <a id="addgztz" class="easyui-linkbutton buttonBottom" iconCls="icon-add"> 添加系统公告 </a>
    <a id="delgztz" class="easyui-linkbutton buttonBottom" iconCls="icon-add"> 删除系统公告 </a>
</div>
<!-- 添加工作通知-->
<div id="gztzadd"></div>
<!--只读工作通知-->
<div id="gztzread"></div>
</body>
</html>